$title_color: #fff;
$title_color2: #283433;
$text_color: #fff;
$menu_color: #fffeff;

$background_color_main_container: #fffeff;
$background_color_body: #eeecee;
$background_color_menu: linear-gradient(to bottom, #52bab3 0%, #92d3cf 100%);
$background_color_footer: #0e0e0e;


$hover_color: #c0075c;

$search_box_background: #6e1e44;
$search_box_text: #fff;

$footer_links: #f25d3c;